{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components",
          "layout": "./layout",
          "assets": "./assets",
          "fonts": "./assets/fonts",
          "store": "./store",
          "utils": "./utils",
          "config": "./config",
          "prismic": "./prismic",
          "TweenLite": "./node_modules/gsap/src/uncompressed/TweenLite"
        }
      }
    ],
    [
      "styled-components",
      { 
        "ssr": true, 
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "@babel/plugin-proposal-decorators", 
      { "legacy": true }
    ],
    "transform-class-properties",
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "removeAttrs": { "attrs": "(data-name)" }
            },
            {
              "cleanupIDs": false
            }
          ]

        }
      }
    ]
  ]
}
