{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components",
          "content": "./content",
          "marquees": "./marquees",
          "assets": "./assets",
          "fonts": "./assets/fonts",
          "store": "./store",
          "utils": "./utils"
        }
      }
    ],
    [
      "styled-components",
      { 
        "ssr": true, 
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "@babel/plugin-proposal-decorators", 
      { "legacy": true }
    ],
    "transform-class-properties",
    "inline-react-svg"
  ]
}
